[submodule "lib/zabbix-sender-php"]
	path = lib/zabbix-sernder-php
	url = git://github.com/hairmare/zabbix-sender-php.git

[submodule "lib/sfEventDispatcher"]
	path = lib/sfEventDispatcher
	url = git://github.com/symfony/EventDispatcher.git
[submodule "lib/sfDependencyInjection"]
	path = lib/sfDependencyInjection
	url = git://github.com/symfony/DependencyInjection.git
[submodule "lib/sfConfig"]
	path = lib/sfConfig
	url = git://github.com/symfony/Config.git
[submodule "lib/poschp"]
	path = lib/poschp
	url = git://github.com/hairmare/PoscHP.git
